[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

google-api-python-client = "*"
google-auth = "*"
"google-auth-httplib2" = "*"
pylint = "*"
"autopep8" = "*"
pandas = "*"
google-cloud-bigquery = "==0.31.0"
pandas-gbq = "*"
sqlalchemy = "*"
"psycopg2" = "*"
sklearn = "*"
scipy = "*"
pytest = "*"
nltk = "*"


[dev-packages]

